* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: #F9F9F9;
;
}
section {
    margin:0 auto;
    width:1224px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

.container,
.container-small {
    max-width: 1224px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.first-section {
    background: url(./assets/back.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 559px;
    background-position: center;
}

.first-section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between
    height: 100%;
    gap: 20px;
    margin-left:57px;
}

.main-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 46px;
    line-height: 1.5; 
    background:  #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-title2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.5; 
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titles {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.description {
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5; 
    text-align: left;
    color: #FFFFFF;
    width: 494px;
}

.title-small {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.23em;
    text-align: left;
    height: 18px;
    top: 351px;
    left: 141px;
    color: #FFFFFF;
    margin-top: 250px ;
}

.secondary-title {
    width: 282px;
    height: 36px;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

h2 {
    margin-bottom: 94px;
}

.cards {
    display: flex;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px;
    width: 204px;
    height: 291px;
    justify-content: center;
    box-shadow: 0px 6px 6px 0px #0000000D;
}
.card img {
    width: 88px;
    height: 88px;
}
.one{
    margin-top:20px
}
.button {
    width: 144px;
    height: 36px;
    left: 540px;
    border-radius: 40px;
    background: rgba(76, 224, 215, 1);
    text-decoration: none;
    margin-top:29px;
}
.button p {
    
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: #262626;  
    text-align: center;
    padding: 10px 40px;
}
.third-section {
    margin-top: 88px;
}

.long-line {
    width: 1267px;
    margin: 0 auto;
    height: 1px;
    background-color:  #BCBCBC;
    
}
